footer 
{
    margin-top: 40px;
    padding: 16px;
}

.footer-content 
{
    display: flex;
    gap: 24px
}

.footer-element 
{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) 
{
    .footer-content 
    {
        gap: 100px
    }
}