footer 
{
    padding: 8px;
}

.footer-content 
{
    display: flex;
    gap: 8px
}

.footer-element 
{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) 
{
    footer
    {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
    }
}