body 
{
    margin: 0px;
    font-family: 'Lato';
}

.section 
{
    margin-bottom: 5vh;
}

h1
{
    font-size: 32px;
    margin: 4px 0px 4px 0px;
}

h2
{
    font-size: 24px;
    margin: 4px 0px 4px 0px;
}

h3
{
    font-size: 16px;
    font-weight: lighter;
    color:#444;
    margin: 4px 0px 4px 0px;
}

p
{
    font-size: 16px;
    margin: 4px 0px 4px 0px;
}

a
{
    font-size: 14px;
    text-decoration: none;
    color: #a64ac9;
}

.big-title 
{
    text-align: center;
    font-size: 100px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    margin: 8px;
}

.highlighted
{
    color: blue
}

.section-title
{
    margin-bottom: 8px;
}

.button
{
    border: 0px;
    background-color: #a64ac9;
    border-radius: 10px;;
    color: white;
}

.valid
{
    background-color: blue;
}

.alert
{
    background-color: #444;
}

@media(min-width: 800px) 
{
    h1
    {
        font-size: 48px;
    }

    h2
    {
        font-size: 32px;
    }

    .large-title
    {
        text-align: left;
        font-size: 100px;
        margin: 0px;
    }
}