h1 {
    text-align: center;
}

#my-photo {
    height: 25vh;
    background-image: url('placeholder.png');
    background-size: cover;
}

.skill-rate {
    display: flex;
    border-bottom: 2px solid #444;
}

.rate {
    margin-left: auto;
}