.post-header-section 
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post-header-text 
{
    display: flex;
    flex-direction: column;
}

.type 
{
    font-size: 14px;
    color: #444;
    display: none;
}

.date 
{
    font-size: 14px;
    color: #444;
    order: 1;
}

.post-img-section
 {
    order: 2;
    padding: 8px;
}

.img-article 
{
    background-image: url('../img/posts/over-small.png');
    background-size: cover;
    height: 25vh;
}

.post-content-section
 {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.post-author-social-links
 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.article-contents 
{
    display: none;
}

.article-body-image
{
    width: 100%;
}

@media(min-width: 800px) 
{
    .post-header-section 
    {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 20vh 40vh;
        row-gap: 20px;
    }

    .post-header-text 
    {
        grid-area: 1/2/1/7;
        text-align: start;
    }

    .post-img-section 
    {
        grid-area: 2/1/2/6;
        order: 2;
        padding: 0px;
    }

    .img-article 
    {
        background-image: url('../img/posts/over-large.png');
        height: 40vh;
    }

    .type 
    {
        display: block;
        order: 3
    }
    
    .date 
    {
        order: 0;
    }

    .title 
    {
        order: 1;
    }

    .post-content-section 
    {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1.5fr;
        column-gap: 20px;
        margin-top: 20px;
    }

    .post-author-social-links
     {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
    }

    .article-contents 
    {
        display: flex;
        flex-direction: column;
    }
}
